<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <logger name="io.netty" level="INFO"/>
    <logger name="reactor" level="INFO"/>
    <logger name="discord4j.gateway.inbound" level="INFO"/>
    <logger name="discord4j.gateway.outbound" level="INFO"/>
    <logger name="discord4j.rest.http.client.DiscordWebClient" level="INFO"/>
    <logger name="discord4j.rest.request" level="INFO"/>
    <logger name="discord4j.dispatch" level="INFO"/>
    <logger name="discord4j.dispatch.PresenceUpdateEvent" level="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
